.bg {
  /* The image used 
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");*/
  background-image: url("../img/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-black{
	background-color: white;
	padding-left: 20px;
}

.bg-Syndic{
  background-color: #025e8a;
}
