<template>
    <div class="residence">
        <div class="form-group">

            <select class="form-control" @change="vll()" name="ville" id="ville" required>
                <option disabled selected value=''>-- Ville --</option>
                <option v-for="villes in ville" :key="villes.id" :value="villes.ville"> {{ villes.ville }} </option>
            </select>

        </div>

        <div class="form-group">
            <select class="form-control" name="residence" required>
                <option disabled selected value="">-- Résidence --</option>
                <option v-for="quarts in quart" :key="quarts.id" :value="quarts.nomResidence"> {{ quarts.nomResidence }} </option>
            </select>
        </div>
          
    </div>
</template>

<script>
    export default {
        data() {
            return{
                ville:[],
                quart:[],
                vill:'',
                nomResidence:[]
            }
        },
        mounted() {
            axios.get('/getVille')
            .then((response) => {
                    this.ville = response.data;
                });
        },
        methods: {
            vll() {
                this.villes = event.target.value;
                //console.log(this.villes);
                
                axios.get(`/getQuart/${this.villes}`)
                    .then((response) => {
                            this.quart = response.data;
                        });

            }
        }
    }
</script>
