<template>
    <div class="residence">
        <div class="form-row">    
                

                <div class="form-group col-lg-6">
                    <label class="col-form-label">Type Immeuble</label>
                    <select name="type" class="form-control" @change="onChange($event)" required>
                        <option disabled selected value="">Type Immeuble...</option>
                        <option value="Villa">Villa</option>
                        <option value="Immeuble">Immeuble</option>
                    </select>
                </div>
            </div>
<!-- apres - choix cummin 1-->
            <div class="form-row">  
                <div class="form-group col-lg-6">
                    <label class="col-form-label">Nbr villa / Immeuble</label>
                    <input type="number" class="form-control" name="nbrImmo" required>
                </div>

                <div class="form-group col-lg-6">
                    <label class="col-form-label">Nbr Etage</label>
                    <select name="nbrEtage" class="form-control" required>
                        <option selected value="Aucun">Aucun...</option>
                        <option value="R+1">R+1</option>
                        <option value="R+2">R+2</option>
                        <option value="R+3">R+3</option>
                        <option value="R+4">R+4</option>
                        <option value="R+5">R+5</option>
                        <option value="R+6">R+6</option>
                        <option value="R+7">R+7</option>
                        <option value="R+8">R+8</option>
                        <option value="R+9">R+9</option>
                        <option value="R+10">R+10</option>
                        <option value="R+11">R+11</option>
                        <option value="R+12">R+12</option>
                    </select>
                </div>
            </div>
<!-- apres - choix cummin 2-->
            <div class="form-row" >  
                <div class="form-group col-lg-6">
                    <label class="col-form-label">Nbr appt / etage</label>
                    <input type="number" class="form-control" value="0" name="nbrAppEtage" :disabled='isDisabled' required>
                </div>
            </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                isDisabled: false
            }
        },
        methods: {
            onChange(event) {
                this.nature = event.target.value;
                if(this.nature == 'Villa'){
                    this.isDisabled = true;
                    
                }else{
                    this.isDisabled = false;
                }

            }
        }
    }
</script>